$cherry : #ba0c2f;
$silver : #a7a8aa;
$darkgrey : #333333;
$lobogray : #63666a;

@font-face {
  src: url("https://sconsdocdev.unm.edu/public_html/styles/fonts/VitesseBlack.woff");
  font-family: VitesseBlack;
}

@font-face {
  src: url("https://sconsdocdev.unm.edu/public_html/styles/fonts/VitesseBold.woff");
  font-family: VitesseBold;
}

@font-face {
  src: url("https://sconsdocdev.unm.edu/public_html/styles/fonts/VitesseMedium.woff");
  font-family: VitesseMedium;
}

@font-face {
  src: url("https://sconsdocdev.unm.edu/public_html/styles/fonts/VitesseLight.woff");
  font-family: VitesseLight;
}

@font-face {
  src: url("https://sconsdocdev.unm.edu/public_html/styles/fonts/VitesseMedium.woff");
  font-family: VitesseMedium;
}


nav{
  background-color: $cherry;
  color: white;
  display: flex;
  align-items : center;
  justify-content: space-between;
  padding : 2.5vh 5vw;

  #center-nav-item{
    justify-self: center;
  }

  .nav-item{
      a{
        display : block;
        text-align: center;
        text-decoration: none;
        font-family: VitesseMedium;

      }
  }
}

#side-menu{
  height: 101vh;
  position: fixed;
  width : 0%;
  background-color: $cherry;
  transition: width .5s ;
}
